// auto-generate by `gen` don't edit

package dto

{{- range $index,$message := .File.Message }}
type {{ $message.Name}} struct {
 {{- range $i,$field := $message.Fields}}
   {{$field.Name}} {{$field.Type}} `json:"{{$field.JsonTag}}"`
 {{- end }}
}
{{- end }}