{{- $basePackage := index .Extra 0 -}}
package server

import (
    "context"
    "fmt"

    "{{$basePackage}}/dto"
)
	/*


     {{ range $serviceIndex, $service := .File.Service }}
         {{- range $index, $method := $service.Method }}
// {{ $method.Name}}...
func  {{ loweCase $method.Name}}(ctx context.Context{{- range $index,$filed := $method.Params -}}
            , {{$filed.Name}} {{$filed.Type}}
      {{- end -}}) ( {{- range $index,$filed := $method.Results -}} {{$filed.Type}},
                       {{- end }} err error) {
       return nil,nil
}
         {{- end }}
     {{- end }}
	*/

var ts =  []*dto.Todo{}

// ListTodos...
func  listtodos(ctx context.Context) ([]*dto.Todo, error) {
       return ts,nil
}

// GetTodo...
func  gettodo(ctx context.Context, int int64) (*dto.Todo, error) {
        for _,t := range ts {
            if t.Id == int {
                return t,nil
            }
        }
       return nil, fmt.Errorf("404")
}

func addtodo(ctx context.Context, todo *dto.Todo) (*dto.Todo, error) {
    ts = append(ts,todo)
    return todo,nil
}
