{{- $basePackage := index .Extra 0 -}}
{{- $project := .ProjectName -}}
package server

import (
	"context"
	"{{$basePackage}}/pb"
	"{{$basePackage}}/services"
)

func NewServiceImpl() services.{{ firstUpperCase $project}}Service {
	return &{{$project}}ServiceImpl{}
}

type {{$project}}ServiceImpl struct {}

     {{ range $serviceIndex, $service := .File.Service }}
         {{- range $index, $method := $service.Method }}
// {{ $method.Name}}...
func  (s *{{$project}}ServiceImpl) {{ $method.Name}}(ctx context.Context{{- range $index,$filed := $method.Params -}}
            , {{$filed.Name}} {{$filed.Type}}
      {{- end -}}) ( {{- range $index,$filed := $method.Results -}}{{$filed.Name}} {{$filed.Type}},
                       {{- end }} err error) {
       return {{ loweCase $method.Name}}(ctx {{- range $index,$filed := $method.Params -}}
                                                          , {{$filed.Name}}
                                                    {{- end -}})
}
         {{- end }}
     {{- end }}